{% extends 'BlackApp/base.html' %}
{% load static %}

{% block title %}О проекте{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-20">
    <h1 class="text-4xl font-bold mb-6">О проекте BlackApartment</h1>
    <p class="text-lg mb-4">Этот проект создан в рамках учебной практики по модулю ПМ.04 «Сопровождение и обслуживание программного обеспечения компьютерных систем».</p>
    <p class="text-lg">Студент: Курбанов Ислам, группа ИП-31.</p>
    <p class="text-lg">Проект представляет собой платформу для краткосрочной аренды недвижимости с использованием Django, Docker, Nginx и Gunicorn.</p>
</div>
{% endblock %}